OGC API coverages - get_collection_coverage only recognizes the `f` query parameter

The current implementation of `pygeoapi.api.get_collection_coverage()` does not take into account the request headers when deciding which `format_`  to pass down to whaterver provider's `query()` method. 

This means that for getting access to a coverage's data, it is currently mandatory to perform content negotiation via the `f` query string parameter - the standard[^1] way of providing an `Accept` header is not supported.

[^1]: by standard way I mean according to [IETF RFC7231, section 5.3 - Content Negotiation](https://datatracker.ietf.org/doc/html/rfc7231), which is what OGC API Commons refers to (and OGC API Coverages refers to OGC API Commons)